$cta: #ffc812;
$cta-hover: #947100;
$border: #ffffff1a;

$text-1: #ffffff;
$text-2: #6c6c6d;
$text-3: #000000;
$text-4: #cecece;

$primary: #383838;
$secondary: #262626;

$bg: #000000;
$bg-hover: #ffffff11;
$bg-header: #0000005d;
