@import "./reset";
@import "./colors";

.hero {
  position: relative;
  width: 100vw;

  .wrapper-1 {
    padding: min(54.5em, 20vh) min(5.75rem, 6.4vw) min(50em, 20vh)
      min(5.75rem, 6.4vw);

    .hero-text {
      color: $text-1;
      height: 100%;

      p {
        margin-block: 2.25em 2em;
        max-width: 43ch;
      }
    }
  }

  .hero-bg {
    position: absolute;
    inset: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 1.5em;

    .btn {
      border: 1px solid $cta;
      border-radius: 1.25em;
      padding: 0.5em 1em;
      background: $cta;
      color: $text-3;
      font-weight: 500;

      &:nth-child(2) {
        background: transparent;
        color: $cta;
      }

      &:hover {
        background: $cta-hover;
        color: $text-1;
        border-color: $cta-hover;
      }
    }
  }
}

.about {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 5em min(5.75em, 6.4vw);

  .left {
    display: grid;
    gap: 1em;
    flex: 2;
    flex-basis: 400px;

    padding: 1em;

    h4 {
      width: fit-content;
    }

    p {
      color: $text-2;
    }
  }

  .right {
    flex: 3;
    flex-basis: 400px;
    video {
      width: 100%;
      border-radius: 2.25em;
    }
  }
}

.featured,
.industries {
  .container {
    display: flex;
    // align-items: stretch;
    flex-wrap: nowrap;
    gap: 1em;
    margin-block: 2em;

    // overflow-x: hidden;

    .card {
      border-radius: 2.25rem;
      background: $bg;
      overflow: hidden;
      min-width: 18.875rem;
      flex: 1;
      display: grid;
      align-content: space-between;
      transition: transform 200ms ease;

      .description {
        padding: 1.75rem;
        color: $text-5;

        a {
          text-decoration: none;
          font-size: 1.75rem;
          color: $text-5;
        }
      }

      .image {
        transform: translateY(0.5em);

        img {
          max-width: 17.5rem;
          filter: drop-shadow(-1em -3em 6em $drop-shadow);
        }
      }

      &:hover {
          transform: scale(1.025);
      }
    }
  }

  padding-inline: min(5.75em, 6.4vw);
  margin-block: 2em;
}

@media only screen and (min-width: 850px) {
  .hero {
    min-height: 100vh;
  }
}

@media only screen and (max-width: 850px) {
  .hero {
    .wrapper-1 {
      .hero-text {
        h2 {
          font-size: 2.25rem;
        }

        h4 {
          font-size: 1.125rem;
        }

        p {
          font-size: 0.75rem;
        }

        .buttons {
          font-size: 0.75rem;
          .btn {
            font-size: 0.75rem;
          }
        }
      }
    }
  }

  .about {
    h4 {
      font-size: 1.5rem !important;
    }

    p {
      font-size: 0.75rem !important;
    }
  }
  h3 {
    font-size: 2.25rem !important;
  }

  .container {
    overflow-x: scroll;
  }
}
