@import "./colors";

header {
  color: $text-1;
  background: $bg-header;
  // backdrop-filter: blur(17px);
  backdrop-filter: blur(2em);
  border-bottom: 1px solid $border;

  font-size: 1rem;

  position: fixed;
  inset: 0 0 auto 0;
  z-index: 999;

  .wrapper-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.3em min(5.75em, 6.4vw);

    .toggleButton {
      display: none;
    }

    .navlist {
      display: flex;
      align-items: center;
      gap: min(3.5em, 3.9vw);

      list-style-type: none;

      a {
        text-decoration: none;
        color: $text-4;
        font-size: 1rem;

        &:hover,
        &.selected {
          color: $text-1;
        }
      }
    }
  }
}

// Responsiveness

@media only screen and (max-width: 1100px) {
  header {
    .toggleButton {
      display: block !important;
    }

    .navbar {
      position: fixed;
      inset: 0 0 auto 0;
      z-index: 888;
      transform: translateY(-100%);
      transition: 400ms ease;

      background: $bg-header;

      .navlist {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 2em !important;

        padding: 2em;
      }

      &.visible {
        top: 4.5em;
        transform: translateY(0);
      }
    }
  }
}
