* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Inter, Roboto, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: white;
}

main {
  padding: 1.3em min(5.75em, 6.4vw);
}

.container {
  margin: 2vh auto;
  padding: 1.2rem;
  width: 100%;
}

.director-message {
  background-color: #fff;
  padding: 4vh 0;
}

.message-wrapper {
  display: flex;
  align-items: center;
  gap: 6vh;
  margin-bottom: 3rem;
}

.message-wrapper1 span {
  white-space: nowrap;
  color: #000000;
  height: 10vh;
}

.message-wrapper1 span h2 {
  font-size: 9vh;
  font-weight: 500;
  margin-bottom: 5vh;
}

.message-wrapper1 p {
  margin-bottom: 2vh;
}

.message-text {
  font-size: 2.7vh;
  color: #505050;
  padding: 1.5rem;
  width: 40rem;
}

.director-images {
  width: 85vh;
  height: 85vh;
}

.director-images img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  .message-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .message-text,
  .director-images {
    max-width: 90%;
  }
}
