 *{ 
margin:0;
padding:0;
box-sizing: border-box;
font-family: "Open Sans", Inter, Roboto, sans-serif;
}

html,body{
width:100%;
height:100%;
background-color: #ffffffff;
}

header {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.3647058824);
    backdrop-filter: blur(17px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
    font-size: 1rem;
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 999;
  }
  header .wrapper-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3em min(5.75em, 6.4vw);
  }
  header .wrapper-1 .navlist {
    display: flex;
    align-items: center;
    gap: min(3.5em, 3.9vw);
    list-style-type: none;
  }
  header .wrapper-1 .navlist a {
    text-decoration: none;
    color: #cecece;
    font-size: 1rem;
  }
  header .wrapper-1 .navlist a:hover, header .wrapper-1 .navlist a.selected {
    color: #ffffff;
}

@media (max-width: 768px) {
    header .wrapper-1 .navlist {
      display: none; 
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      background: rgba(122, 122, 123, 0.22);
      width: 100%;
      padding: 1rem;
      opacity: 0;
      transform: translateY(-20px);
      transition: opacity 0.3s ease, transform 0.3s ease;
    }
  
    header .wrapper-1 .navlist.active {
      display: flex; 
      opacity: 1; 
      transform: translateY(0); 
    }
  
    .hamburger {
      display: flex; /* Show hamburger button on mobile */
    }
  
    header .wrapper-1 .navlist a {
      color: #ffffff; /* Change link color for better visibility */
      margin: 1rem 0;
    }
  }

/* main */

main{
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6vh;
}

main .media_grid img {
    max-width: 100%;
    height: auto;
}
  

main .media_heading p{
    font-size: 8vh;
    font-weight: 600;
    color: #000000;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    header {
      padding: 1rem;
    }
  
    header .wrapper-1 .navlist {
      align-items: flex-start;
      gap: 1rem;
    }
  
    main{
        padding: 6rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6vh;
    }

    main .media_heading p {
      font-size: 4vh;
    }
    
    footer .wrapper-1 {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  }
  
  /* Media query for tablets */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    header {
      padding: 1.5rem;
    }
  
    main .media_heading p {
      font-size: 5vh;
    }
  
  }