.wrapper-1 {
  max-width: 1440px;
  margin-inline: auto;
}

.btn {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  background: none;
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: 200ms ease;
  cursor: pointer;
}

.color-cta {
  color: #ffc812;
}

.color-dark {
  color: #000000;
}

h2 {
  font-size: 4.5rem;
  font-weight: 600;
}

h3 {
  font-size: 3.375rem;
  font-weight: 600;
}

h4 {
  font-size: 2.25rem;
  font-weight: 600;
}

p {
  font-size: 1.25rem;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: flex;
  align-content: center;
}

.display-none {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

body {
  line-height: 1.36;
  font-family: "Open Sans", Inter, Roboto, sans-serif;
  overflow-x: hidden;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
}
.hero .wrapper-1 {
  padding: min(50rem, 20vh) min(5.75rem, 6.4vw);
}
.hero .wrapper-1 .hero-text {
  color: #ffffff;
}
.hero .wrapper-1 .hero-text p {
  margin-block: 2.25em 2em;
  max-width: 43ch;
}
.hero .hero-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.hero .hero-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero .buttons {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.hero .buttons .btn {
  border: 1px solid #ffc812;
  border-radius: 1.25em;
  padding: 0.5em 1em;
  background: #ffc812;
  color: #000000;
  font-weight: 500;
}
.hero .buttons .btn:nth-child(2) {
  background: transparent;
  color: #ffc812;
}
.hero .buttons .btn:hover {
  background: #947100;
  color: #ffffff;
  border-color: #947100;
}

.about {
  display: grid;
  align-content: center;
  grid-template-columns: 2fr 3fr;
  gap: 1em;
  padding: 5em min(5.75em, 6.4vw);
}
.about .left {
  display: grid;
  gap: 1em;
  padding: 1em;
}
.about .left p {
  color: #6c6c6d;
}
.about .right video {
  width: 100%;
  border-radius: 2.25em;
}

.container {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 1em;
  margin-block: 2em;
}

.featured {
  margin-bottom: 10vh;
}

.industries {
  margin-bottom: 8vh;
}

.container .card {
  border-radius: 2.25rem;
  background: #000000;
  overflow: hidden;
  min-width: 18.875rem;
  flex: 1;
  display: grid;
  align-content: space-between;
  gap: 4em;
  height: 33rem;
}

.container .card .description {
  padding: 1.75rem;
  color: #f5f5f7;
}

.container .card .description a {
  text-decoration: none;
  font-size: 1.75rem;
  color: #f5f5f7;
}
.container .card .description a:hover {
  text-decoration: underline;
  color: #ffffff;
}
.container .card .image {
  transform: translateY(0.5em);
}
.container .card .image img {
  max-width: 17.5rem;
  filter: drop-shadow(-1em -3em 6em #f5c401);
  transition: transform 200ms ease;
}

.container .card:hover img {
  transform: scale(1.1);
}

.featured {
  padding-inline: min(5.75em, 6.4vw);
}

.industries {
  padding-inline: min(5.75em, 6.4vw);
}

.container .card .img img {
  filter: drop-shadow(-1em -3em 6em #3f3d3d);
  transition: transform 200ms ease;
  margin-top: -20vh;
  object-fit: cover;
}
