.wrapper-1 {
  max-width: 1440px;
  margin-inline: auto;
}

.btn {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  background: none;
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: 200ms ease;
  cursor: pointer;
}

.color-cta {
  color: #ffc812;
}

.color-dark {
  color: #000000;
}

h2 {
  font-size: 4.5rem;
  font-weight: 600;
}

h3 {
  font-size: 3.375rem;
  font-weight: 600;
}

h4 {
  font-size: 2.25rem;
  font-weight: 600;
}

h5 {
  font-size: 1.75rem;
  font-weight: 600;
}

p {
  font-size: 1.25rem;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: flex;
  align-content: center;
}

.display-none {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

body {
  line-height: 1.36;
  font-family: "Open Sans", Inter, Roboto, sans-serif;
  overflow-x: hidden;
}

.floating-buttons {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 999;
}
.floating-buttons a {
  font-size: 1.5rem;
  width: 2em;
  height: 2em;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  color: #ffc812;
  transition: 200ms ease;
}
.floating-buttons a:hover {
  transform: scale(1.15);
}

.hero {
  position: relative;
  width: 100vw;
}
.hero .wrapper-1 {
  padding: min(54.5em, 20vh) min(5.75rem, 6.4vw) min(50em, 20vh) min(5.75rem, 6.4vw);
}
.hero .wrapper-1 .hero-text {
  color: #ffffff;
  height: 100%;
}
.hero .wrapper-1 .hero-text p {
  margin-block: 2.25em 2em;
  max-width: 43ch;
}
.hero .hero-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.hero .hero-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero .buttons {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.hero .buttons .btn {
  border: 1px solid #ffc812;
  border-radius: 1.25em;
  padding: 0.5em 1em;
  background: #ffc812;
  color: #000000;
  font-weight: 500;
}
.hero .buttons .btn:nth-child(2) {
  background: transparent;
  color: #ffc812;
}
.hero .buttons .btn:hover {
  background: #947100;
  color: #ffffff;
  border-color: #947100;
}

.about {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 5em min(5.75em, 6.4vw);
}
.about .left {
  display: grid;
  gap: 1em;
  flex: 2;
  flex-basis: 400px;
  padding: 1em;
}
.about .left h4 {
  width: fit-content;
}
.about .left p {
  color: #6c6c6d;
}
.about .right {
  flex: 3;
  flex-basis: 400px;
}
.about .right video {
  width: 100%;
  border-radius: 2.25em;
}

.featured,
.industries {
  padding-inline: min(5.75em, 6.4vw);
  margin-block: 2em;
}
.featured .container,
.industries .container {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  margin-block: 2em;
}
.featured .container .card,
.industries .container .card {
  border-radius: 2.25rem;
  background: #000000;
  overflow: hidden;
  min-width: 18.875rem;
  flex: 1;
  display: grid;
  align-content: space-between;
  transition: transform 200ms ease;
}
.featured .container .card .description,
.industries .container .card .description {
  padding: 1.75rem;
  color: #f5f5f7;
}
.featured .container .card .description a,
.industries .container .card .description a {
  text-decoration: none;
  font-size: 1.75rem;
  color: #f5f5f7;
}
.featured .container .card .image,
.industries .container .card .image {
  transform: translateY(0.5em);
}
.featured .container .card .image img,
.industries .container .card .image img {
  max-width: 17.5rem;
  filter: drop-shadow(-1em -3em 6em #f5c401);
}
.featured .container .card:hover,
.industries .container .card:hover {
  transform: scale(1.025);
}

@media only screen and (min-width: 850px) {
  .hero {
    min-height: 100vh;
  }
}
@media only screen and (max-width: 850px) {
  .hero .wrapper-1 .hero-text h2 {
    font-size: 2.25rem;
  }
  .hero .wrapper-1 .hero-text h4 {
    font-size: 1.125rem;
  }
  .hero .wrapper-1 .hero-text p {
    font-size: 0.75rem;
  }
  .hero .wrapper-1 .hero-text .buttons {
    font-size: 0.75rem;
  }
  .hero .wrapper-1 .hero-text .buttons .btn {
    font-size: 0.75rem;
  }
  .about h4 {
    font-size: 1.5rem !important;
  }
  .about p {
    font-size: 0.75rem !important;
  }
  h3 {
    font-size: 2.25rem !important;
  }
  .container {
    overflow-x: scroll;
  }
}

/*# sourceMappingURL=home.css.map */
