.wrapper-1 {
  max-width: 1440px;
  margin-inline: auto;
}

.btn {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  background: none;
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: 200ms ease;
  cursor: pointer;
}

.color-cta {
  color: #ffc812;
}

.color-dark {
  color: #000000;
}

h2 {
  font-size: 4.5rem;
  font-weight: 600;
}

h3 {
  font-size: 3.375rem;
  font-weight: 600;
}

h4 {
  font-size: 2.25rem;
  font-weight: 600;
}

h5 {
  font-size: 1.75rem;
  font-weight: 600;
}

p {
  font-size: 1.25rem;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: flex;
  align-content: center;
}

.display-none {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Inter, Roboto, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

main {
  padding: 6rem 2rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6vh;
}

.media_grid img {
  max-width: 100%;
  height: auto;
}

.media_heading {
  margin: 2rem 0; 
}

.media_heading p {
  font-size: 3rem; 
  font-weight: 600;
  color: #000000;
  text-align: center;
}

/* Footer Styles */
footer {
  background-color: #333; 
  color: white;
  padding: 2rem; 
  text-align: center; 
}

/* Media Queries for Responsiveness */

@media (max-width: 768px) {

  main{
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6vh;
}


.media_heading {
  margin: 2rem 0; 
}

main .media_heading p {
  font-size: 4vh;
}

.media_grid{
  padding: 0 1vh;
  margin-top: -6vh;
}

  footer {
    text-align: left; 
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  main {
    padding: 4rem 2rem; 
  }

  .media_heading {
    margin: 2rem 0; 
  }

  .media_heading p {
    font-size: 2.5rem;
  }
}