.wrapper-1 {
  max-width: 1440px;
  margin-inline: auto;
}

.btn {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  background: none;
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: 200ms ease;
  cursor: pointer;
}

.color-cta {
  color: #ffc812;
}

.color-dark {
  color: #000000;
}

h2 {
  font-size: 4.5rem;
  font-weight: 600;
}

h3 {
  font-size: 3.375rem;
  font-weight: 600;
}

h4 {
  font-size: 2.25rem;
  font-weight: 600;
}

h5 {
  font-size: 1.75rem;
  font-weight: 600;
}

p {
  font-size: 1.25rem;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: flex;
  align-content: center;
}

.display-none {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Inter, Roboto, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background: white;
}

main {
  padding: 2rem;
  margin-top: -2rem; /* Adjust as needed to avoid overlap with the header */
}

.grid-section {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  justify-content: center;
  margin-bottom: 2rem;
}

.grid-container {
  max-width: 178vh;
  width: 100%;
  overflow: hidden;
}

.grid-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin-bottom: 1rem; /* Add spacing between images */
}

/* Contact Section */
.contact-section {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-section p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 0.5rem 0;
}

.contact-section i {
  margin-right: 0.5rem;
}

/* Map Section */
.map-section {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.map-section iframe {
  border: 0;
  border-radius: 10px;
  max-width: 100%;
  height: 50vh;
}

/* Media Queries for Responsiveness */

@media (max-width: 768px) {
  /* Styles for tablets and smaller screens */
  main {
    padding: 1rem;
  }

  .grid-container img {
    width: 48%; /* Two images per row on tablet */
    margin-bottom: 1rem;
    margin-top: 4.2rem;
  }

  .contact-section h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  /* Styles for mobile phones */
  .grid-container img {
    width: 100%; /* One image per row on mobile */
  }
  .map-section iframe {
    height: 30vh; /* Adjust map height for smaller screens */
  }
}